body{
	background-color:#000;
	color:#999;
	font-family:Arial;
	font-size:10pt;
}
::-webkit-scrollbar {
    width: 12px;
}

button{ text-align:left; }

th{ text-align:center; }

tr:nth-child(2n-1) {background-color: #222;}
td{
	text-align: center;
}

li{ margin-top:5px; }
li:nth-child(odd) { background-color: #222; }

input[type=checkbox] { transform: scale(1.3); }
h3 {
	text-align:center;
	margin: 5px;
}

ul {
	list-style-type: none;
	padding:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:5px;
}

input[type=range]::-webkit-slider-thumb {
	cursor: pointer;
	background: #F77;
	border: none;
}

input[type=range]::-moz-range-thumb {
	cursor: pointer;
	background: #F77;
	border: none;
}

input[type=range]{
	width: 100%;
	height: 1px;
	cursor: pointer;
	margin: 20px 0;
}

label{
	margin-right:4px;
}

.cookies{
	border:solid 3px #77C;
	background-color:#000;
	color:#CCC;
	display:block;
	width: 250px;
	padding: 10px;
	position:absolute;
	bottom:5;
	right:5;
}

.yes{
	background-color: #7C7;
	color: #000;
	border:0;
}
.no{
	background-color: #C77;
	color: #000;
	border:0
}

.pnl{
	margin:0;
	padding:0;
	width:100%;
	height:52%;
	background-color:#111;
}

.p1Block{
	display:block;
	padding-left:100px
}

.p1BlockChild{
	display:none;
	height:100%;
	position:relative;
}

.p1BlockBaby{
	float:left;
	margin:2px;
	overflow-y:scroll;
	scrollbar-width: thin;
}

.infoTable{
	border:solid 1px #333;
	min-width:350px;
}

.minionQ{
	border-left:solid 1px #333;
	margin-left:5px;
	padding-left:5px;
}

.mnuBox{
	width:100px;
	float:left;
	display:block;
}

.mnu{
	width:95px;
	display:block;
	background-color:#999;
	border:solid 1px;
	outline:none;
	padding-left:4px;
}

.mnuSelected{
	width:97px;
	background-color:#FFF;
}

.upg{
	width:185px;
	display:block;
	margin:1px;
	border:solid 1px;
	outline:none;
	background-color:#D99;
	color:#000;
	text-decoration: line-through;
	cursor:not-allowed;
}

.affordableUpg{
	width:185px;
	display:block;
	margin:1px;
	border:solid 1px;
	outline:none;
	background-color:#BFB;
	color:#000;
	cursor:pointer;
}


.listBlock{
	float:left;
	width:200px;
	border:solid 1px;
	padding-left:5px;
	overflow-y:scroll;
	scrollbar-width: thin;
}

.minionBlock{
	float:left;
	width:135px;
	border:solid 1px;
	padding:5px;
}

.listInline{
	display:inline;
}

.progressBar{
	width:1%;
	height:100%;
	overflow:visible;
	white-space: nowrap;
	background-color:#3F3;
	color:#000;
}

.progressBackground{
	background-color:#FAA;
	width:100px;
	height:17px;
	color:#000;
	float:right;
}

.autoSave{
	margin: 2px 3px 1px 22px;
	width:125px;
	height:20px;
	position:absolute;
	bottom:5;
	right:5;
	cursor:pointer;
	color:#000;
}

.drawArea{
	width:100%;
	height:100%;
}

.prestige{
	position:relative;
	bottom:0;
	color:#AAA;
	background-color:#111;
	padding:15px;
	border:solid 2px #755;
}

.resourceFloat{
	float:right;
	border:1px solid #333;
	padding:3px;
}

.bossControlArea{
	border:solid 1px #666;
	text-align:center;
}

.activeAbilityBackground{
	width:95%;
	background-color:#FAA;
	height:17px;
	color:#000;
	text-align:center
}
.activeAbilityProgressBar{
	width:1%;
	height:100%;
	overflow:visible;
	white-space: nowrap;
	background-color:#3F3;
	color:#000;
	display:inline-block;
	text-align:center;
}

.bossButtonActive{
	border:solid 3px #33A;
	cursor:default;
}
.bossButtonAvailable{
	border:solid 3px #3A3;
	cursor:pointer;
}
.bossButtonUnavailable{
	border:solid 3px #A33;
	cursor:not-allowed;
}

.spawnPool{
	width:140px; 
	min-width:140px;
	border:solid 1px #555
}

.help{
	border-top:solid 1px #222;
}

.t0{}

.t1{}

.t2{}

.version{
	position:absolute;
	bottom:0;
	left:0;
	font-size:8pt;
	color:#333;
}